html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    color: #DEE2E5;

    background: linear-gradient(
            135deg,
            #32373F 0%,
            #25282E 100%
    ) no-repeat fixed;

    display: flex;
    flex-direction: row;
    text-align: center;
}

#title {
    margin-top: 1vw;
    font-size: 10vw;
}

#description {
    font-size: 3vw;
}