*.xapk
*.apk
*.tmp
*.RSA
*.aidl
*.kotlin_builtins
*.pem
*.so
*.ttf
node_modules/
.venv/
*/org/apache/commons/codec/language/
index.android.bundle
*.xsd
*/sources/com/facebook/

*/sources/com/apache/
*/sources/org/apache/
*/sources/org/bouncycastle/
*/sources/org/koin/
*/sources/org/chromium/
*/sources/org/qtproject/
*/resources/org/apache/
*/sources/com/google/
*/sources/com/bumptech/
*/sources/com/horcrux/
*/sources/com/squareup/
*/sources/com/swmansion/
*/sources/androidx/
*/sources/android/
*/sources/expo/
*/sources/kotlin/
*/sources/kotlinx/
*/sources/javax/
*/sources/com/github/penfeizhou/animation/
*/sources/org/checkerframework/
*/sources/org/brotli/
*/sources/okhttp3/
*/sources/okio/
*/sources/com/caverock/
*/sources/com/th3rdwave/
*/sources/jp/
*/sources/com/canhub/
*/sources/com/reactnativecommunity/
*/sources/com/rnfs/
*/sources/com/rnmaps/
*/sources/cl/