html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.ui-main {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.ui-content {
    color: #DEE2E5;

    background: linear-gradient(
            135deg,
            #32373F 0%,
            #25282E 100%
    ) no-repeat fixed;

    border-radius: 40px;
    padding: 40px;

    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    font-size: 4vw;
    color: white;
    margin: 0;
}

.result {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.result-ignore-button {
    height: 40px;
    margin-left: 20px;
}

.result-title {
    font-size: 2vw;
}

.result-description {
    font-size: 1vw;
}

.button {
    width: 10rem;
    height: 5rem;
    font-size: 20px;
}

#pointer-circle {
    position: absolute;
    width: 10px;
    height: 10px;
    z-index: 1000;
}