:root {
  --duration: 1500ms;
  --easing: ease-in-out;
}



#steam_loading_spinner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;

  width: 32px;
  height: 32px;
  min-width: 32px;
  max-width: 32px;
  aspect-ratio: 1 / 1;
  opacity: 0.75;
}

#steam_logo_spinner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;

  width: 256px;
  height: 256px;
  min-width: 128px;
  max-width: 256px;
  margin: 40px;
  aspect-ratio: 1 / 1;
}

#spinner_ring_container {
  width: inherit;
  height: inherit;
  min-width: inherit;
  max-width: inherit;

  position: absolute;
  transform: rotate(0deg);
  opacity: 1;
  animation: rotate 7200ms infinite linear; 
  animation-delay: 1200ms;
}

#spinner_ring2_container {
  width: inherit;
  height: inherit;
  min-width: inherit;
  max-width: inherit;

  position: absolute;
  transform: rotate(90deg);
  opacity: 1;
  animation: rotate2 4800ms infinite linear;  
}

#spinner_mark_container {
  width: inherit;
  height: inherit;
  min-width: inherit;
  max-width: inherit;

  position: absolute;
  transform: scale(1);
  animation: scale 800ms infinite alternate linear;  
}

.steam_logo_spinner_bounds, .steam_logo_spinner_ring, .steam_logo_spinner_ring2, .steam_logo_spinner_mark {
  stroke-width: 0px;
}

.steam_logo_spinner_bounds {
  fill: none;
}

.steam_logo_spinner_ring {
  fill: #199FFF;
}

.steam_logo_spinner_ring2 {
  fill: #7E8DA0;
  opacity: 0.5;
}

.steam_logo_spinner_mark {
  fill: #fff;
}

#ring {
  width: inherit;
  height: inherit;
  min-width: inherit;
  max-width: inherit;

  
  fill: none;
  stroke-width: 12;
  stroke-linecap: round;
  opacity: 0;

  stroke-dasharray: 0 1413; 
  stroke-dashoffset: 1413;
  animation: ring_stroke 2400ms linear infinite;
  //animation-delay: 2400ms;
}

#ring2 {
  width: inherit;
  height: inherit;
  min-width: inherit;
  max-width: inherit;
  opacity: 1;
  
  fill: none;
  stroke-width: 12;
  stroke-linecap: round;


  stroke-dasharray: 0 1413; 
  stroke-dashoffset: 1413;
  animation: ring_stroke 2400ms linear infinite;
}

@keyframes scale {
  100% {
    transform: scale(0.94);
  }
}

/* ***************************
Start key = double end keys
End key = r*pi
*************************** */
@keyframes ring_stroke {
  0% {
    stroke-dasharray: 0 1413; 
    stroke-dashoffset: 1413;
    opacity: 1;
  }
  50% {
    stroke-dasharray: 800 600; 
    stroke-dashoffset: 0;
    opacity: 1;
  }  
  100% {
    stroke-dasharray: 0 1413; 
    stroke-dashoffset: -1413;
    opacity: 1;
  } 
}

@keyframes rotate {
  0% {
    transform: rotate(90deg);
    opacity: 0;
  }
  25% {
    transform: rotate(270deg);
    opacity: 1;
  }
  50% {
    transform: rotate(450deg);
    opacity: 0;
  }
  75% {
    transform: rotate(630deg);
    opacity: 1;
  }
  100% {
    transform: rotate(810deg);
    opacity: 0;
  }
}

@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  25% {
    transform: rotate(180deg);
    opacity: 1;
  }
  50% {
    transform: rotate(360deg);
    opacity: 0;
  }
  75% {
    transform: rotate(540deg);
    opacity: 1;
  }
  100% {
    transform: rotate(720deg);
    opacity: 0;
  }
}