html, body {
    width: 100%;
    height: 100%;
    margin: 0;

    display: flex;
}

#background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 3rem;
}


.ui-main {
    margin: 5rem;

    flex-grow: 1;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;

    color: #DEE2E5;

    background: linear-gradient(
            135deg,
            #29455c 0%,
            #1b2838 100%
    ) no-repeat fixed;

    border-top: 10px solid #08b9fd;
}

.heading {
    align-self: flex-start;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    flex-grow: 1;
}

#title {
    font-size: 3vw;
    color: white;
    flex: 1;
    margin: 0;
}

#title-description {
    font-size: 1vw;
    color: white;
}

.spinner {
    flex-grow: 1;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
}

#button-abort-connection {
    width: 20rem;
    height: 6rem;
    font-size: 2rem;
    color:white;
    background-color: #2a465d;
    border: none;
    border-radius: 5px;
}

.ActivitySpinner {
    --activity-spinner-size: 80px;
    --activity-spinner-animation-period: 1.15s;
    width: calc(var(--activity-spinner-size) * 0.7);
    height: var(--activity-spinner-size);
    margin: auto;
    display: flex;
    flex-direction: row;
}

@keyframes AnimationSpinnerBarPulse {
    0% {
        transform: scaleY(0.5);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    25% {
        transform: scaleY(1.0);
        opacity: 1;
    }
    50% {
        transform: scaleY(0.5);
        opacity: 1;
    }
    70% {
        transform: scaleY(0.5);
        opacity: 1;
    }
    90% {
        transform: scaleY(0.5);
        opacity: 0;
    }
}

.ActivitySpinner .Bar {
    height: 100%;
    width: 25%;
    margin: auto;
    opacity: 0;
    animation: AnimationSpinnerBarPulse var(--activity-spinner-animation-period) infinite linear;
    background: white;
}

.ActivitySpinner .Bar:first-child {
    animation-delay: calc(-1s * var(--activity-spinner-animation-period));
    margin-left: 0;
}

.ActivitySpinner .Bar:nth-child(2) {
    animation-delay: 0.2s;
}

.ActivitySpinner .Bar:last-child {
    animation-delay: calc(-1s * var(--activity-spinner-animation-period));
    margin-right: 0;
}

#pointer-circle {
    position: absolute;
    width: 10px;
    height: 10px;
    z-index: 1000;
}