<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="5000549"
    android:versionName="2.0.1"
    android:installLocation="auto"
    android:compileSdkVersion="34"
    android:compileSdkVersionCodename="14"
    package="com.valvesoftware.steamlinkvr"
    platformBuildVersionCode="34"
    platformBuildVersionName="14">
    <uses-sdk
        android:minSdkVersion="30"
        android:targetSdkVersion="32"/>
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.gamepad"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.type.pc"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false"/>
    <uses-feature
        android:name="android.software.leanback"
        android:required="false"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <supports-screens
        android:anyDensity="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"/>
    <uses-feature
        android:glEsVersion="0x30002"
        android:required="true"/>
    <uses-feature
        android:name="android.hardware.vr.headtracking"
        android:required="true"
        android:version="1"/>
    <uses-feature
        android:name="oculus.software.eye_tracking"
        android:required="true"/>
    <uses-feature
        android:name="com.oculus.feature.RENDER_MODEL"
        android:required="false"/>
    <uses-feature
        android:name="oculus.software.face_tracking"
        android:required="false"/>
    <uses-feature
        android:name="oculus.software.vr.app.hybrid"
        android:required="true"/>
    <uses-permission android:name="org.khronos.openxr.permission.OPENXR"/>
    <uses-permission android:name="org.khronos.openxr.permission.OPENXR_SYSTEM"/>
    <uses-permission android:name="com.oculus.permission.WIFI_LOCK"/>
    <uses-permission android:name="com.oculus.permission.EYE_TRACKING"/>
    <uses-permission android:name="com.oculus.permission.RENDER_MODEL"/>
    <uses-permission android:name="com.oculus.permission.FACE_TRACKING"/>
    <queries>
        <provider android:authorities="org.khronos.openxr.runtime_broker;org.khronos.openxr.system_runtime_broker"/>
        <intent>
            <action android:name="org.khronos.openxr.OpenXRRuntimeService"/>
        </intent>
        <intent>
            <action android:name="org.khronos.openxr.OpenXRApiLayerService"/>
        </intent>
        <package android:name="com.virtualhere.androidserver"/>
    </queries>
    <queries>
        <package android:name="com.virtualhere.androidserver"/>
    </queries>
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <application
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        android:label="Steam Link"
        android:icon="@mipmap/ic_launcher"
        android:name="org.qtproject.qt5.android.bindings.QtApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:isGame="true"
        android:extractNativeLibs="true">
        <meta-data
            android:name="SDL_ENV.SDL_ACCELEROMETER_AS_JOYSTICK"
            android:value="0"/>
        <meta-data
            android:name="SDL_ENV.SDL_TV_REMOTE_AS_JOYSTICK"
            android:value="0"/>
        <meta-data
            android:name="SDL_ENV.SDL_ANDROID_TRAP_BACK_BUTTON"
            android:value="1"/>
        <meta-data
            android:name="SDL_ENV.SDL_ANDROID_ALLOW_RECREATE_ACTIVITY"
            android:value="1"/>
        <meta-data
            android:name="SDL_ENV.STEAM_LINK_VR"
            android:value="1"/>
        <meta-data
            android:name="com.samsung.android.dex.launchwidth"
            android:value="0"/>
        <meta-data
            android:name="com.samsung.android.dex.launchheight"
            android:value="0"/>
        <meta-data
            android:name="com.oculus.intent.category.VR"
            android:value="vr_only"/>
        <meta-data
            android:name="com.oculus.supportedDevices"
            android:value="quest2|questpro|quest3"/>
        <meta-data
            android:name="com.oculus.vr.focusaware"
            android:value="true"/>
        <uses-native-library
            android:name="libopenxr_forwardloader.oculus.so"
            android:required="false"/>
        <activity
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:label="vrlink_scene"
            android:name="android.app.NativeActivity"
            android:exported="true"
            android:excludeFromRecents="false"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:configChanges="density|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard"
            android:resizeableActivity="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="vrlink_scene"/>
            <intent-filter>
                <action android:name="android.intent.action.SENDTO"/>
                <category android:name="com.oculus.intent.category.VR"/>
                <category android:name="org.khronos.openxr.intent.category.IMMERSIVE_HMD"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.valvesoftware.steamlink.SteamShellActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:configChanges="fontScale|layoutDirection|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|locale">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="com.oculus.intent.category.2D"/>
            </intent-filter>
            <meta-data
                android:name="android.app.lib_name"
                android:value="shell"/>
            <meta-data
                android:name="android.app.qt_sources_resource_id"
                android:resource="@array/qt_sources"/>
            <meta-data
                android:name="android.app.repository"
                android:value="default"/>
            <meta-data
                android:name="android.app.qt_libs_resource_id"
                android:resource="@array/qt_libs"/>
            <meta-data
                android:name="android.app.bundled_libs_resource_id"
                android:resource="@array/bundled_libs"/>
            <meta-data
                android:name="android.app.bundle_local_qt_libs"
                android:value="1"/>
            <meta-data
                android:name="android.app.use_local_qt_libs"
                android:value="1"/>
            <meta-data
                android:name="android.app.libs_prefix"
                android:value="/data/local/tmp/qt/"/>
            <meta-data
                android:name="android.app.load_local_libs_resource_id"
                android:resource="@array/load_local_libs"/>
            <meta-data
                android:name="android.app.load_local_jars"
                android:value="jar/QtAndroid.jar:jar/QtAndroidExtras.jar:jar/QtAndroidBearer.jar"/>
            <meta-data
                android:name="android.app.static_init_classes"
                android:value=""/>
            <meta-data
                android:name="android.app.background_running"
                android:value="false"/>
            <meta-data
                android:name="android.app.auto_screen_scale_factor"
                android:value="false"/>
            <meta-data
                android:name="android.app.extract_android_style"
                android:value="none"/>
            <layout
                android:defaultWidth="1280px"
                android:defaultHeight="800px"/>
        </activity>
        <activity
            android:label="Steam Link"
            android:name="com.valvesoftware.steamlink.SteamLink"
            android:exported="true"
            android:screenOrientation="landscape"
            android:configChanges="fontScale|layoutDirection|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|locale"
            android:preferMinimalPostProcessing="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="https"
                    android:host="s.team"
                    android:pathPrefix="/remoteplay/"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="https"
                    android:host="store.steampowered.com"
                    android:pathPrefix="/steamlink/connect/"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="https"
                    android:host="store.steamchina.com"
                    android:pathPrefix="/steamlink/connect/"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="steamlink"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
