html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: transparent;
}

#ui-main {
    color: #DEE2E5;

    background: linear-gradient(
            135deg,
            #32373F 0%,
            #25282E 100%
    ) no-repeat fixed;

    border-radius: 40px;
    padding: 40px;
}

#page-header {
    color: white;
}

.available-host {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 10px;
}

#main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#ui-main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

#ui-menu {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.menu-button {
    height: 100px;
    width: 100%;
    font-size: 1.5rem;
}

.close-button {
    height: 40px;
    width: 45px;
    font-size: 1.5rem;
}

#ui-content {
    flex-grow: 1;

    padding-left: 20px;
}

.host-connection-button {
    width: 40%;
    height: 5rem;
    font-size: 1.5rem;
}

#ui-content-settings {
    width: 95%;
}

.permission-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.permission-button {
    height: 3rem;
    width: 5rem;
    margin-left: 1rem;
}

#pointer-circle {
    visibility: hidden;
    position: absolute;
    width: 10px;
    height: 10px;
    z-index: 1000;
}

.red-button {
    background-color: #DE3618;
    color: #DCDEDF;
}